<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
		&copy; <%= date(new Date(), 'YYYY') %> LEEKACHUNG<br>
	</h1>
</footer>
<script type="text/javascript">
    var host = "lkc.im";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
