<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
		&copy; <%= date(new Date(), 'YYYY') %> LEEKACHUNG<br>
	</h1>
</footer>

<div style="display:none">
	<script type="text/javascript" src="https://s23.cnzz.com/z_stat.php?id=1277037282&web_id=1277037282"></script>
</div>