// Colors
color-default = #4f5759
color-title = #5e616d
color-border = #ddd
color-link = #475164
color-background = #fff
color-meta = #999
color-footer = #ccccd6

// Fonts
font-sans = 'Open Sans','Helvetica Neue','Helvetica','Arial','Helvetica','Tahoma','STXihei', '华文细黑','Microsoft YaHei', '微软雅黑',sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 100%
line-height = 2em