<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
		&copy; <%= date(new Date(), 'YYYY') %> LEEKACHUNG<br>
	</h1>
	<div style="display:none"><script src="https://s5.cnzz.com/z_stat.php?id=1275284765&web_id=1275284765" language="JavaScript"></script></div>
</footer>