<div style="position:absolute;left:50%;margin-left:-100px;">
<nav id="mobile-nav">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
</nav>
</div>